.mybossliksn {
	padding: 20px;
    padding-bottom: 10px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: rgb(106, 106, 106);
	position: relative; /* Added for underline positioning */
	cursor: pointer; /* Make the div look clickable */
}

.jusfirsthu {
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: rgb(106, 106, 106);
	position: relative; /* Added for underline positioning */
	cursor: pointer; /* Make the div look clickable */
}

.firstfirstfootercontainerny {
	margin-top: 36px;
}

.edivedenil {
	height: 1px;
	margin-top: 15px;
	background-color: #d3cfc9;
}

/* Active underline centered */
.mybossliksn.active::after,
.jusfirsthu.active::after {
  content: '';
  position: absolute;
  left: 50%; /* Start from the center */
  bottom: 0; /* Position underline directly below the link */
  width: 90%; /* Adjust width as needed */
  height: 2px; /* Height of the underline */
  background-color: black; /* Color of the underline */
  transform: translateX(-50%); /* Center the underline */
}

@media (max-width: 902px) {
	.firstfirstfootercontainerny {
		display: flex;
		overflow-x: auto; /* Enable horizontal scrolling */
		white-space: nowrap; /* Prevents wrapping of text to the next line */
		scroll-behavior: smooth; /* Smooth scrolling */
	}

	/* Hide the scrollbar, but still allow scrolling */
	.firstfirstfootercontainerny::-webkit-scrollbar {
		display: none;
	}
	.firstfirstfootercontainerny {
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */
	}

	/* Keep your original padding */
	.firstfirstfootercontainerny .mybossliksn,
	.firstfirstfootercontainerny .jusfirsthu {
		display: inline-block; /* Keep links inline */
	}
}
