.mainfooterretoofk{
    background-color: #F6F6F7;
    max-width: 1200px;
    margin-inline: auto;
    padding: 48px 40px 48px 40px;
    
    
}

.headingnoitaripsni{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: rgb(34, 34, 34);
}