
.mainhomepagecontainergyt{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between cards */
    justify-content: center;
    padding-inline: 40px;
    max-width: 1200px;
    margin-inline: auto;
  }