.third-fjdsalftifdeir-reg {
	height: auto;
}

.thirdnoces-emoclewotbnbria {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: rgb(34, 34, 34);
	margin-top: 30px;
	margin-bottom: 10px;
}

.thirddnoces-category {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: rgb(115, 115, 115);
	/* margin-top: 30px; */
	margin-bottom: 10px;
}
.buttons-nextbutton-andprevbutton{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
  }

  .listingkcabbutton{
    height: 52px;
    text-align: center;
    color: 
    rgb(0, 0, 0);
    border:2px solid rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    width: 100%;
    border-radius: 10px; 
  }
  .listing-creation-firsttsrif-eunitnocdf {
	height: 52px;
	text-align: center;
	background-color: #DE1262;
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	width: 100%;
	border-radius: 10px; 
  }
.listing-creation-firsttsrif-eunitnocdf:hover{
  background-color: #E64983;
}
.paisatpixel {
    height: 65px;
    border: 2px solid #D4D4D4;
    margin-bottom: 20px;
    padding: 24px 16px 16px 16px;
    font-size: 16px;
    color: #222222;
    line-height: 20px;
    border-radius: 8px;
  }
  .paisatpixel:invalid {
    border: 2px solid #ff4d4f !important; /* Red border to indicate error */
    background-color: #fff6f6; /* Light red background for input */
  }
  
  .paisatpixel:invalid:focus {
    outline: none !important;
    box-shadow: 0 0 5px rgba(255, 77, 79, 0.5) !important; /* Light shadow effect on focus */
  }
  
  .bvhdery{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .error-message {
    color: #ff4d4f; /* Red color for error text */
    font-size: 14px; /* Slightly smaller font */
    font-weight: 500; /* Bold for emphasis */
    /* display: flex; */
    /* align-items: center; */
  }
  .error-message::before {
    margin-right: 5px; /* Space between the icon and the message */
  }
  .textinputfieldsdleiftupnitxet{
    /* display: flex; */
    /* flex-direction: column; */
    margin-bottom: 50px;
  }

  .dsfjdfjd{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .listing-creation-enilrhctudf {
	height: 1px;
	background-color: rgb(214, 209, 201);
	margin-top: 30px;
	margin-bottom: 30px;
}